@{
    ViewData["Title"] = "Welcome";
}

<div class="hero d-flex flex-column justify-content-center align-items-center text-center">
    <h1>WELCOME TO THE CMCS</h1>
    <p class="lead">YOUR CONTRACT MONTHLY CLAIM PROTOTYPE : )</p>
    <div class="mt-4">
    </div>
</div>
